
:root {
    --bgcolor:#45364B;
    --appcolor: #B4C2b7;
    --textcolor:#2d233A;
    --buttoncolor:#8C93A8;
    --contrastcolor:#62466B;
    --contrasttext: #fff;
    --correct: #368841;
    --wrong: #f9d7da;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: var(--bgcolor);
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.app {
    background-color: var(--appcolor);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 10px 13px -7px var(--contrastcolor), 0px 0px 16px 9px rgba(0,0,0,0.4); 
box-shadow: 0px 10px 13px -7px var(--contrastcolor), 0px 0px 16px 9px rgba(0,0,0,0.4);
}

.app h1 {
    font-size: 25px;
    text-align: center;
    color: var(--textcolor);
    font-weight: 600;
    border-bottom: 1px solid var(--textcolor);
    padding-bottom: 30px;
    text-shadow: 2px 2px 0 var(--bgcolor), 4px 4px 0 var(--contrasttext);
}

.quiz {
    padding: 20% 0;
}

.quiz h2 {
    font-size: 18px;
    text-align: center;
    color: var(--textcolor);
    font-weight: 600;

}

.btn {
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 16px 9px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 16px 9px rgba(0,0,0,0);
}

.btn:hover:not([disabled]) {
    background: var(--contrastcolor);
    color: var(--contrasttext);
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn {
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 150px;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
#next-btn:hover:not([disabled]) {
    background: var(--contrastcolor);
    transition: all 0.8s;
}
#beenden {
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 150px;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#beenden:hover {
    background: var(--contrastcolor);
    transition: all 0.8s;
}

.correct{
    background: var(--correct);

}
.wrong{
    background: var(--wrong);
}

#Username {
    text-align: center;
    font-size: 15px;
    color: var(--textcolor);
    font-weight: 600;    
    margin: 100px auto;
    padding: 10px;
    align-self: center;
}

#player {
    text-align: center;
    background: rgba( 255, 255, 255, 0.5);
    font-weight: 500;
    border: 1px solid var(--textcolor);
    border-radius: 4px;
    padding: 5px;
    margin: 20px auto 0;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 16px 9px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 16px 9px rgba(0,0,0,0);
}

#player:hover {
    background: rgba( 255, 255, 255, 1.0);
    transition: all 0.8s;
}

#startbtn {
    
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 150px;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#startbtn:hover {
    background: var(--contrastcolor);
    transition: all 0.8s;
}

.button {
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 150px;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.button:hover {
    background: var(--contrastcolor);
    transition: all 0.8s;
}

form > label {
    text-shadow: 2px 2px 0 var(--contrasttext);
}