
:root {
    --bgcolor:#45364B;
    --appcolor: #B5C2b7;
    --textcolor:#2d2327;
    --buttoncolor:#8C93A8;
    --contrastcolor:#62466B;
    --contrasttext: #fff;
    --correct: #368841;
    --wrong: #f8d7da;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: var(--bgcolor);
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.app {
    background-color: var(--appcolor);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    text-align: center;
    color: var(--textcolor);
    font-weight: 600;
    border-bottom: 1px solid var(--textcolor);
    padding-bottom: 30px;
}

.quiz {
    padding: 20% 0;
}

.quiz h2 {
    font-size: 18px;
    text-align: center;
    color: var(--textcolor);
    font-weight: 600;

}

.btn {
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover:not([disabled]) {
    background: var(--contrastcolor);
    color: var(--contrasttext);
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn {
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 150px;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#beenden {
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 150px;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: var(--correct);

}
.wrong{
    background: var(--wrong);
}

#Username {
    text-align: center;
    font-size: 15px;
    color: var(--textcolor);
    font-weight: 600;    
    margin: 100px auto;
    padding: 10px;
    align-self: center;
}

#player {
    text-align: center;
    font-weight: 500;
    border: 1px solid var(--textcolor);
    border-radius: 4px;
    padding: 5px;
    margin: 20px auto 0;
    
}

#startbtn {
    
    background: var(--buttoncolor);
    color: var(--textcolor);
    font-weight: 500;
    width: 150px;
    border: 1px solid var(--textcolor);
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

#startbtn:hover {
    background: var(--contrastcolor);
    transition: all 0.8s;
}